VITE_FIREBASE_API_KEY=AIzaSyCWiUfgTT3QAM5F7kjK4XjoL5QRp28AWoQ
VITE_FIREBASE_AUTH_DOMAIN=luckysrikanett.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=luckysrikanett
VITE_FIREBASE_STORAGE_BUCKET=luckysrikanett.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=198344792966
VITE_FIREBASE_APP_ID=1:198344792966:web:0d7c2e141df47ce8d06a07
VITE_LIFF_ID=
VITE_CAMPAIGN_ID=sri-ganesh-lucky-incense
